*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --v1:calc(max(9vw, 11vw));
}

body{
    background: #1D0027;
    overflow: hidden;
    min-height: 200vh;
}

.container{
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.row{
    display: inline-flex;
    margin-top: calc(var(--v1)*-0.32);;
    margin-left: calc(var(--v1)*-0.5);;
}


button.hexagon{
    border: none;
    cursor: pointer;
}

.hexagon{
    position: relative;
    width: var(--v1);
    height: calc(var(--v1)*1.1);
    margin: calc(var(--v1)*0.04 var(--v1)*0.02);
    clip-path: polygon(49% 3%, 95% 26%, 95% 74%, 48% 97%, 4% 72%, 4% 25%);
    background: linear-gradient(90deg, rgba(25,25,25,0.7) 50%, rbga(10,10,10,.85) 50%);
    background: #2c093a;
    text-align: center;
    color: rbga(15,15,15,1);
    line-height: calc(var(--v1) *1.1);
    font-size: 2vw;
    transition: 1s;
}

.blank{
    background: transparent;
}

button.hexagon{
    background-color: #2c093aa9;
}

button.hexagon:hover{
    color: rgba(25, 25, 25, 1);
    background: #2c093a40;

}

.row:nth-child(even){
    margin-left: calc(var(--v1)*0.02);
}

.cursor{
    position: absolute;
    width: calc(var(--v1)*2.5);
    height: calc(var(--v1)*2.5);
    border-radius: 50%;
    animation: anim 2s linear infinite;
    visibility: hidden;
    transform: translate(-50%,-50%);
}

@keyframes anim {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

body:hover .cursor{
    background: radial-gradient(circle, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 70%);
    visibility: visible;
}